In [2]:
# prompt: import python data science libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
stock_df = pd.read_csv('../archive/all_stock_data_cleaned.csv')
stock_df.head()

,Date,Ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits,CIK,Company Name,countryma,stprma,cityba,zipba,address1,SIC Code,Office,Industry Title
0,1962-01-02,ED,0.0,0.265828,0.261788,0.261788,25600.0,0.0,0.0,1047862,CONSOLIDATED EDISON INC,US,NY,NEW YORK,10003,4 IRVING PLACE,4931,Office of Energy & Transportation,ELECTRIC & OTHER SERVICES COMBINED
1,1962-01-02,CVX,0.0,0.046809,0.046069,0.046809,105840.0,0.0,0.0,93410,CHEVRON CORP,US,CA,SAN RAMON,94583,6001 BOLLINGER CANYON ROAD,2911,Office of Energy & Transportation,PETROLEUM REFINING
2,1962-01-02,GD,0.0,0.210033,0.203061,0.208290,2648000.0,0.0,0.0,40533,GENERAL DYNAMICS CORP,US,VA,RESTON,20190,11011 SUNSET HILLS RD,3730,Office of Manufacturing,SHIP & BOAT BUILDING & REPAIRING
3,1962-01-02,BP,0.0,0.141439,0.139528,0.139528,77440.0,0.0,0.0,313807,BP PLC,GB,NaN,LONDON,SW1Y 4PD,1 ST JAMES'S SQUARE,2911,Office of Energy & Transportation,PETROLEUM REFINING
4,1962-01-02,MSI,0.0,0.764923,0.745254,0.751810,65671.0,0.0,0.0,68505,"Motorola Solutions, Inc.",US,IL,CHICAGO,60661,500 W. MONROE ST.,3663,Office of Manufacturing,RADIO & TV BROADCASTING & COMMUNICATIONS EQUIP...

In [12]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26289070 entries, 0 to 26289069
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   Date            datetime64[ns]
 1   Ticker          object
 2   Open            float64
 3   High            float64
 4   Low             float64
 5   Close           float64
 6   Volume          float64
 7   Dividends       float64
 8   Stock Splits    float64
 9   CIK             int64
 10  Company Name    object
 11  countryma       object
 12  stprma          object
 13  cityba          object
 14  zipba           object
 15  address1        object
 16  SIC Code        int64
 17  Office          object
 18  Industry Title  object
dtypes: datetime64[ns](1), float64(7), int64(2), object(9)
memory usage: 3.7+ GB

In [10]:
stock_df['Date'] = pd.to_datetime(stock_df['Date'])

In [20]:
stock_df_2014_present = stock_df[stock_df['Date'].dt.year >= 2014]

In [22]:
len(stock_df_2014_present)

13013734

In [24]:
stock_df_2019_present = stock_df[stock_df['Date'].dt.year >= 2019]

In [26]:
len(stock_df_2019_present)

8219731

In [28]:
stock_df_2019_present.to_csv('stock_df_2019_present.csv', index=False)

In [30]:
stock_df_2019_present['Dividends'].unique()

array([0.      , 0.17    , 0.18    , ..., 0.217392, 0.6675  , 0.895   ])

In [32]:
ticker_df = pd.read_csv('../archive/Ticker_IDs.csv')
ticker_df.head()

,index,CIK,Tickers,Company Name,name,sic,countryma,stprma,cityba,zipba,address1,address2
0,0,320193,AAPL,Apple Inc.,APPLE INC,3571.0,US,CA,CUPERTINO,95014,ONE APPLE PARK WAY,NaN
1,1,1045810,NVDA,NVIDIA CORP,NVIDIA CORP,3674.0,US,CA,SANTA CLARA,95051,2788 SAN TOMAS EXPRESSWAY,NaN
2,2,789019,MSFT,MICROSOFT CORP,MICROSOFT CORP,7372.0,US,WA,REDMOND,98052-6399,ONE MICROSOFT WAY,NaN
3,3,1652044,GOOGL,Alphabet Inc.,ALPHABET INC.,7370.0,US,CA,MOUNTAIN VIEW,94043,1600 AMPHITHEATRE PARKWAY,NaN
4,4,1018724,AMZN,AMAZON COM INC,AMAZON COM INC,5961.0,US,WA,SEATTLE,98109,410 TERRY AVENUE NORTH,NaN

In [42]:
len(ticker_df['Company Name'].unique())

5676

In [50]:
ticker_df[ticker_df['Company Name'] == 'FEDERAL HOME LOAN MORTGAGE CORP']['Tickers'].unique()

array(['FMCC', 'FMCCT', 'FREJO', 'FMCCI', 'FMCKI', 'FMCCG', 'FMCCJ',
       'FMCCL', 'FMCKL', 'FMCCS', 'FMCCO', 'FMCKN', 'FREJN', 'FMCCN',
       'FMCKO', 'FMCKJ', 'FMCKM', 'FREGP', 'FMCCH', 'FMCCK', 'FMCCP',
       'FMCCM', 'FMCKP', 'FREJP', 'FMCKK'], dtype=object)